    body {
      font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
      color: white;
      margin: 15px 0 0 30px;
      text-align: center;
      background-image: url(http://kainat21.files.wordpress.com/2011/06/the_matrix_bg_2.jpg);
    }

    .choices img {
      width: 15%;
      margin-right: 2.5%;
      cursor: pointer;
      opacity: 0.7;
      transition: 0.5s all ease;
    }

    .choices img:hover {
      opacity: 1;
    }

    h2, h3 {
      /*text-transform: capitalize;*/
    }

    #results li {
      list-style: none;
      color: white;
      text-align: center;
      opacity: 0.8;
      padding: 5px;
      display: none;
    }
