    body {
      font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
      color: white;
      margin: 15px 0 0 30px;
      text-align: center;
      background-image: url(http://fc07.deviantart.net/fs70/f/2012/239/5/0/matrix_background_by_wwedudetrunks07-d5cnrxz.jpg);
    }

    .choices img {
      width: 15%;
      margin-right: 2.5%;
      cursor: pointer;
      opacity: 0.7;
      transition: 0.5s all ease;
    }

    .choices img:hover {
      opacity: 1;
    }

    h2, h3 {
      /*text-transform: capitalize;*/
    }

    #results {
      list-style: none;
    }

    #results li {
      background: #999;
      color: #fff;
      font-size: 24px;
      border-radius: 8px;
      padding: 5px;
      width: 80%;
      margin-bottom: 10px;
    }